/* justify-content */
/* align-items */
@each $jc in $justify-content {
    .jc-#{$jc}{
        justify-content: map-get($justify-content-base, $jc);
    }
    .ai-#{$jc}{
        align-items: map-get($justify-content-base, $jc);
    }
    .ac-#{$jc}{
        align-content: map-get($justify-content-base, $jc);
    }
}

@each $jc in $justify-content {
    @each $rwd in $rwd-breakpoints {
        @media (min-width:map-get($rwd-breakpoint-base, $rwd)) {
            .jc-#{$rwd}-#{$jc}{
                justify-content: map-get($justify-content-base, $jc);
            }
            .ai-#{$rwd}-#{$jc}{
                align-items: map-get($justify-content-base, $jc);
            }
            .ac-#{$rwd}-#{$jc}{
                align-content: map-get($justify-content-base, $jc);
            }
        }
    }
}
