// font-size 管理
$fz-root: 4px;

// spacing 管理
$rwd-breakpoints:"xs","sm","md","lg","xl","xxl";
$rwd-breakpoint-base:(
    "xs":0,
    "sm":576px,
    "md":768px,
    "lg":992px,
    "xl":1200px,
    "xxl":1400px
);

// flex 管理
$justify-content:"fs","fe","c","sb","sa","se","stretch","baseline";
$justify-content-base:(
    "fs":flex-start,
    "fe":flex-end,
    "c":center,
    "sb":space-between,
    "sa":space-around,
    "se":space-evenly,
    "stretch":stretch,
    "baseline":baseline
);
