.index_bg{
    background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37,249,245,1) 0%, rgba(8,70,218,1) 90% );
}

.index_bg2{
    background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );
}

h1{
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em
}

.c3-legend-item text{ 
    font-size:16px;
}

.c3-tooltip{
    color: #000;
}