$utilities: map-merge(
  $utilities,
  (
      "rounded": map-merge(map-get($utilities, "rounded"),
        (
          values:
          map-merge(map-get(map-get($utilities, "rounded"), "values"),
            (
              4: $border-radius-4,
            )
          ),
        )
      ),
      "opacity": (
        property: opacity,
        values: (
          0: 0,
          25: .25,
          50: .5,
          75: .75,
          100: 1,
        )
      ),  
      "font-weight": map-merge(map-get($utilities, "font-weight"),
        (
          values:
          map-merge(map-get(map-get($utilities, "font-weight"), "values"),
            (
              medium: $font-weight-medium,
              black: $font-weight-black,
            )
          ),
        )
      ),
      "font-size": map-merge(map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      )

  )
);
